.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html {
  font-family: verdana, sans-serif;
  background: #ddc1a2;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.getRecBut {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.getRec {
  width: 200px;
  height: 100px;
  background: #FF876F;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  text-shadow: 0 0 5px black;
  margin-bottom: 20px;
}

.getRec:hover {
  background: #E74624;;
}

.btn-hide:hover {
  width: 200px;
  height: 100px;
  background: #E74624;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  text-shadow: 0 0 5px black;
  margin-bottom: 20px;
}

.btn-show{
    width: 200px;
    height: 100px;
    background: #FF876F;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    text-shadow: 0 0 5px black;
    margin-bottom: 20px;
}

.link {
  width: 200px;
  height: 100px;
  text-align: center;
}

.btn-hide {
  display: none;
  width: 200px;
  height: 100px;
  background: #FF876F;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  text-shadow: 0 0 5px black;
  margin-bottom: 20px;
}
