nav {
  background-image: url('./pic/pic.jpg');
  height: 250px;
  width: 100vw;
  top: 0;
  overflow: hidden;
  background-size: 1300px 250px;
}

.title {
  color: black;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

h1{
  font-family: impact;
  text-align: center;
  color: white;
  font-size: 67px;
  text-shadow: 0 0 20px #BCF3FF;
}
